:root {
  --blancoClaro: #f7f6f3;
  --blancoOscuro: #f5f5f4;
  --negroClaro: #333737;
  --negroOscuro: #232c2a;
  --naranja: #a75843;
  --negroOscuroDegradado: #424b49;
  --gris: #969892;
}

html {
  box-sizing: border-box;  
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* background-image: linear-gradient(to top, var(--negroOscuro), var(--negroOscuroDegradado));
  height: 100vh; */
  background-color: var(--negroOscuro);
  font-family: "Century Gothic"!important;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

h1{
  color: var(--negroClaro);
  font-size: 4rem;
}

.navbar {
  border-bottom: 0.2rem solid var(--naranja);
}

.bg-light{
  background-color: var(--blancoOscuro)!important;
}

.tamaño-logo{
  width: 6rem;
  height: 6rem;
}

.nav-link{
  color: var(--negroOscuro)!important;
}

.btn-contacto {
  color: var(--blancoOscuro)!important;
  border-radius: 2rem;
  background-color: var(--naranja);
  padding: 0.5rem;
  text-align: center;
}

.btn-contacto:hover{
  color: var(--naranja)!important;
  background-color: var(--blancoOscuro);
  border: 0.2rem solid var(--naranja);
}

.navbar-idioma a{
  /* padding-right: 4rem; */
  color: var(--negroOscuro)!important;
}
.navbar-idioma{
  padding-right: 4rem;
}

@media ( max-width: 768px ) {
    .navbar-idioma{
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
}



.breadcrumb {
  background-color: var(--blancoOscuro);
}

.breadcrumb .breadcrumb-item.active {
  color: var(--naranja);
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: var(--negroOscuro);
}

.breadcrumb a{
  color: var(--negroClaro);
}

.page-banner {
  position: relative;
  margin-top: 16px;
  margin-bottom: 16px;
  height: 18.5rem;
  background-color: var(--blancoOscuro);
  border-radius: 30px;
}

.page-banner .breadcrumb-item,
.page-banner .breadcrumb-item a {
  font-size: 2rem;
}

.text-white{
  color: var(--blancoClaro)!important;
}

.text-white-50{
  color: var(--blancoOscuro)!important;
}

.btn-outline-contacto{
  background-color: var(--blancoClaro);
  border:0.2rem solid var(--naranja);
  color: var(--naranja);
  margin-bottom: 5rem;
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 1rem;
}

.btn-outline-contacto:hover{
  background-color: var(--naranja);
  border:0.2rem solid var(--blancoClaro);
  color: var(--blancoClaro);
}

.page-footer a{
  color: var(--negroOscuroDegradado);
}

.page-footer {
  position: relative;
  display: block;
  padding-top: 80px;
  padding-bottom: 16px;
  border-top: 0.1rem solid var(--naranja);
}

@media ( min-width: 768px ) {
  .page-footer{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    }
    
}