:root {
  --blancoClaro: #f7f6f3;
  --blancoOscuro: #f5f5f4;
  --negroClaro: #333737;
  --negroOscuro: #232c2a;
  --naranja: #a75843;
  --negroOscuroDegradado: #424b49;
  --gris: #969892;
}

html {
  box-sizing: border-box;  
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(to top, var(--negroOscuro), var(--negroOscuroDegradado));
  height: 100vh;
  font-family: "Century Gothic"!important;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

h1{
  color: var(--negroClaro);
  font-size: 4rem;
}

.navbar {
  border-bottom: 0.2rem solid var(--naranja);
}

.bg-light{
  background-color: var(--blancoOscuro)!important;
}

.tamaño-logo{
  width: 6rem;
  height: 6rem;
}

.nav-link{
  color: var(--negroOscuro)!important;
}

.btn-contacto {
  color: var(--blancoOscuro)!important;
  border-radius: 2rem;
  background-color: #a75843;
  padding: 0.5rem;
  text-align: center;
}

.navbar-idioma a{
  /* padding-right: 4rem; */
  font-size: 1.6rem;
  color: var(--negroOscuro)!important;
}
.navbar-idioma{
  padding-right: 4rem;
}

@media ( max-width: 768px ) {
    .navbar-idioma{
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
}



.breadcrumb {
  background-color: var(--blancoOscuro);
}

.breadcrumb .breadcrumb-item.active {
  color: var(--naranja);
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: var(--negroOscuro);
}

.breadcrumb a{
  color: var(--negroClaro);
}

.page-banner {
  position: relative;
  margin-top: 16px;
  margin-bottom: 16px;
  height: 18.5rem;
  background-color: var(--blancoOscuro);
  border-radius: 30px;
}

.page-banner .breadcrumb-item,
.page-banner .breadcrumb-item a {
  font-size: 2rem;
}


